*
{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.header{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
input{
    width: 250px;
    height: 30px;
    background: white;
    border-radius: 20px;
    border: 2px solid white;
}
input:focus
{
    border: none;
    outline: none;
    background-color: white;
}
::placeholder{
    color: white;
}
body{
    background-image:url("images/bg_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    color: white; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    min-height: 100vh;
}
.content{ 
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column wrap; 
}
#user{
    display: flex;
    justify-content: flex-end;
}
.fa-shopping-cart,
.fa-user{
    font-size: 2rem;
    margin: 0 5px;
}
.user{
    cursor: pointer;
}
.user:hover{
    text-decoration: underline;
}
#calcBtn{
    width: 250px;
    height: 30px;
    background: white;
    border-radius: 20px;
    border: 2px solid white;
}
#calcBtn:focus{
    outline: none;
}
@media only screen and (max-width: 600px) {
   input{
    width: 100px;
    height: 20px;
    }
  }
  @media only screen and (max-width: 800px) {
    input{
    width: 200px;
    height: 25px;
}
}